#modal-tambah-peserta {
    
    .modal-body {
        padding: 30px 30px 50px;
    }
    
    .form-group {
        font-size: 14px;
    }
    
    .form-control {
        font-size: 14px;
        height: 45px;
    }

    .btn-primary {
        padding: 10px 50px;
        float: right;
    }
}
